body {
  height: 100%;
  margin:0;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background: url('../img/bg.png') no-repeat;
  background-size: cover;
}

ul {
  margin:0;
  padding: 0;
  list-style: none;
}