.left-navigation
    ul.left-navigation__list
        li.left-navigation__item(href="#")
            a.left-navigation__link.
                Самое важное в SASS
        li.left-navigation__item(href="#")
            a.left-navigation__link.
                Приёмы в вёрстке, без которых
                не обходится ни один сайт
        li.left-navigation__item(href="#")
            a.left-navigation__link.
                Самый необходимый набор Gulp плагинов
        li.left-navigation__item(href="#")
            a.left-navigation__link.
                Почему я выбрал Jade
