.my-container__wrapper
    .my-container
        .stars
        .my-photo
            img.my-photo_photo(src='assets/img/photo.png')
        h1.main_h1.my-blog-header.regular-text.text_color_white.
            блог
        p.my-status.regular-text.text_color_white.
            Статьи, которые я написал