button.swipe-button
.fake-left-navigation
.swipe-button__left-nav
    ul.swipe-button__list
        li.swipe-button__item(href="#")
            a.swipe-button__link.
                Самое важное в SASS
        li.swipe-button__item(href="#")
            a.swipe-button__link.
                Приёмы в вёрстке, без которых
                не обходится ни один сайт
        li.swipe-button__item(href="#")
            a.swipe-button__link.
                Самый необходимый набор Gulp плагинов
        li.swipe-button__item(href="#")
            a.swipe-button__link.
                Почему я выбрал Jade