.right-block__circles
    h3.
        Frontend
    ul.circle
        li.circle__wrapper
            svg.circles__figure(width='110', height='110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle-85(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
            p.circle__text.html.
                HTML
        li.circle__wrapper
            svg.circles__figure(width='110', height='110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle-85(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
            p.circle__text.css3.
                CSS3
        li.circle__wrapper
            svg.circles__figure(width='110', height='110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle-25(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
            p.circle__text.JS.
                JavaScript & jQuery

.right-block__circles
    h3.
        Backend
    ul.circle
        li.circle__wrapper
            svg.circles__figure(width='110', height='110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle-25(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
            p.circle__text.php.
                PHP
        li.circle__wrapper
            svg.circles__figure(width='110', height='110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle-60(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
            p.circle__text.mysql.
                MySQL
        li.circle__wrapper
            svg.circles__figure(width='110', height='110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle-40(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
            p.circle__text.node.
                NodeJS
        li.circle__wrapper
            svg.circles__figure(width='110', height='110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle-10(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
            p.circle__text.mongo.
                Mongo.db


.right-block__circles
    h3.
        Workflow
    ul.circle
        li.circle__wrapper
            svg.circles__figure(width='110', height='110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle-85(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
            p.circle__text.git.
                Git
        li.circle__wrapper
            svg.circles__figure(width='110', height='110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle-75(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
            p.circle__text.gulp.
                Gulp
