.skills
    h3.main_h3.text_color_grey.
        Frontend
    ul.circle
        li.circle__wrapper
            svg.circles__figure(width='110', height='110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle_fill_85(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
            p.circle__text.
                HTML
        li.circle__wrapper
            svg.circles__figure(width='110', height='110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle_fill_85(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
            p.circle__text.
                CSS3
        li.circle__wrapper
            svg.circles__figure(width='110', height='110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle_fill_25(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
            p.circle__text.
                JavaScript & jQuery
.right-block__circles
    h3.main_h3.text_color_grey.
        Backend
    ul.circle
        li.circle__wrapper
            svg.circles__figure(width='110', height='110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle_fill_25(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
            p.circle__text.
                PHP
        li.circle__wrapper
            svg.circles__figure(width='110', height='110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle_fill_60(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
            p.circle__text.
                MySQL
        li.circle__wrapper
            svg.circles__figure(width='110', height='110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle_fill_40(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
            p.circle__text.
                NodeJS
        li.circle__wrapper
            svg.circles__figure(width='110', height='110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle_fill_10(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
            p.circle__text.
                Mongo.db
.right-block__circles
    h3.main_h3.text_color_grey.
        Workflow
    ul.circle
        li.circle__wrapper
            svg.circles__figure(width='110', height='110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle_fill_85(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
            p.circle__text.
                Git
        li.circle__wrapper
            svg.circles__figure(width='110', height='110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle_fill_75(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
            p.circle__text.
                Gulp
