.skills
    h3.main_h3.text_color_grey.
        Frontend
    ul.circle
        li.circle__wrapper
            svg.circles__figure(width='110', height='110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.animate(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)' data-animation="html")
            p.circle__text.
                HTML
        li.circle__wrapper
            svg.circles__figure(width='110', height='110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.animate(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)' data-animation="css")
            p.circle__text.
                CSS3
        li.circle__wrapper
            svg.circles__figure(width='110', height='110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.animate(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)' data-animation="js")
            p.circle__text.
                JavaScript & jQuery
.skills
    h3.main_h3.text_color_grey.
        Backend
    ul.circle
        li.circle__wrapper
            svg.circles__figure(width='110', height='110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.animate(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)' data-animation="php")
            p.circle__text.
                PHP
        li.circle__wrapper
            svg.circles__figure(width='110', height='110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.animate(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)' data-animation="mysql")
            p.circle__text.
                MySQL
        li.circle__wrapper
            svg.circles__figure(width='110', height='110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.animate(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)' data-animation="nodejs")
            p.circle__text.
                NodeJS
        li.circle__wrapper
            svg.circles__figure(width='110', height='110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.animate(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)' data-animation="mongo")
            p.circle__text.
                Mongo.db
.skills
    h3.main_h3.text_color_grey.
        Workflow
    ul.circle
        li.circle__wrapper
            svg.circles__figure(width='110', height='110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.animate(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)' data-animation="git")
            p.circle__text.
                Git
        li.circle__wrapper
            svg.circles__figure(width='110', height='110')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.animate(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)' data-animation="gulp")
            p.circle__text.
                Gulp
