.left-block
    .left-block__h1
        h1.main_h1.text_color_grey.
            Обо мне
    .left-block__photo
        img.my-photo_photo(src="assets/img/photo_2.png")
    .left-block__h2
        h2.main_h2.text_color_grey.
            Кто я
    .underline
    .left-block__main-text
        p.regular-text.text_color_grey.line-height_value_26.
            Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
        p.regular-text.text_color_grey.line-height_value_26.
            Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
