.sign-in-form
    h2.main_h2.text_color_white.
        авторизируйтесь
    .sign-in__wrapper
        form.sign-in__main-form(action='', method='POST', name='contactForm')
            .sign-in__container
                label.sign-in__label(for='userName')
                    svg.sign-in__icon
                        use(xlink:href="assets/sprite/sprite.svg#login")
                input#userName(name='login', type='login', placeholder='Логин')
            .sign-in__container
                label.sign-in__label(for='userPassword')
                    svg.sign-in__icon
                        use(xlink:href="assets/sprite/sprite.svg#password")
                input#userPassword(name='password', type='password', placeholder='Пароль')

    .sign-in__checkbox-wrapper
        input#checkbox.sign-in__checkbox-input(type='checkbox')
        label.sign-in__checkbox-label.text_color_white(for='checkbox')
            span.sign-in__checkbox-input_fake
            |   Я человек

    ul.sign-in__list
        li.sign-in__item
            a.sign-in__link.sign-in__link_return.regular-text.text_color_white(href="my-works.html").
                На главную

        li.sign-in__item
            a.sign-in__link.regular-text.text_color_white(href="about-me.html").
                Войти
