.main-footer
    ul.main-footer__grey-line
        li.main-footer__block
            p.light-text.
                Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool
        li.main-footer__block
            ul.main-footer__list
                li.main-footer__item
                    a.main-footer_link(href="portfolio.html").
                        Мои работы
                li.main-footer__item
                    a.main-footer_link(href="another-page.html").
                        Обо мне
                li.main-footer__item
                    a.main-footer_link(href="blog.html").
                        Блог
                li.main-footer__item
                    a.main-footer_link(href="index.html").
                        Авторизация
            .main-footer__social-icons
                include ../common/_social-icons.pug
        li.main-footer__block
                p.light-text.light-text_height.
                    hobbyzz.mikhail
                p.light-text.light-text_height.
                    gb.mikhail@gmail.com
                p.light-text.light-text_height.
                    +38(066)004-0-101
                p.light-text.light-text_height.
                    Тернополь, ул. Гаевая, 29

    .main-footer__blue-line
        p.light-text.
            © Губа Михаил | создавалось бессонными ночами во время обучения в LoftSchool | 2017