.main-information__slider
    .left-block__wrapper
        h2.main_h2.text_color_grey
            |Сайт школы онлайн
            br
            |образования
        .underline.underline_light_grey_color
        p.left-block__text.
            HTML, CSS3, JAVASCRIPT
        a.left-block__button(href="https://loftschool.com/" target="_blank")
            svg.link-icon
                use(xlink:href="assets/sprite/sprite.svg#link")
            p.regular-text.text_color_white.
                Посмотреть сайт
    .right-block__main-pic
        ul.slideshow__list
            li.slideshow__item
                a.slideshow__link(href='#')
                    img.slideshow__img(src='assets/img/yoga_pic.png', alt='')
            li.slideshow__item
                a.slideshow__link(href='#')
                    img.slideshow__img(src='assets/img/yoga_pic.png', alt='')
            li.slideshow__item
                a.slideshow__link(href='#')
                    img.slideshow__img(src='assets/img/yoga_pic.png', alt='')
            li.slideshow__item
                a.slideshow__link(href='#')
                    img.slideshow__img(src='assets/img/yoga_pic.png', alt='')
    .right-block__button-box
        .right-block__prev-pic
            .slider__display
                ul.slider__list
                    li.slider__item
                        img.slider__img_down(src='assets/img/trialog_pic.png', alt='')
                    li.slider__item
                        img.slider__img_down(src='assets/img/yoga_pic.png', alt='')
                    li.slider__item
                        img.slider__img_down(src='assets/img/trialog_pic.png', alt='')
                    li.slider__item
                        img.slider__img_down(src='assets/img/yoga_pic.png', alt='')
            button.slider__button.slider__button-down
                svg.arrow_down.slider__arrow-down
                    use(xlink:href="assets/sprite/sprite.svg#arrow_down")

        .right-block__next-pic
            .slider__display
                ul.slider__list
                    li.slider__item
                        img.slider__img_up(src='assets/img/trialog_pic.png', alt='')
                    li.slider__item
                        img.slider__img_up(src='assets/img/yoga_pic.png', alt='')
                    li.slider__item
                        img.slider__img_up(src='assets/img/trialog_pic.png', alt='')
                    li.slider__item
                        img.slider__img_up(src='assets/img/yoga_pic.png', alt='')
            button.slider__button.slider__button-up
                svg.arrow_down.slider__arrow-up
                    use(xlink:href="assets/sprite/sprite.svg#arrow_down")


