.contacts
    h2.main_h2.text_color_grey.
            Контакты
    .underline
    .contacts__wrapper
        .contacts__box
            .blue-circle
                svg.contact__icon
                    use(xlink:href="assets/sprite/sprite.svg#skype")
            p.regular-text.text_color_grey.
                Hobbyzz.mikhail
        .contacts__box
            .blue-circle
                svg.contact__icon
                    use(xlink:href="assets/sprite/sprite.svg#phone")
            p.regular-text.text_color_grey.
                +38(066)004-0-101
        .contacts__box
            .blue-circle
                svg.contact__icon
                    use(xlink:href="assets/sprite/sprite.svg#telegram_logo")
            p.regular-text.text_color_grey.
                @RDDuke
        .contacts__box
            .blue-circle
                svg.contact__icon
                    use(xlink:href="assets/sprite/sprite.svg#map_marker")
            p.regular-text.text_color_grey.
                Тернополь, ул. Гаевая,29