.contacts
    h2.contacts__h2.
            Контакты
    .underline
    .contacts__wrapper
        .contacts_box
            .blue-circle
                svg.contact-icon
                    use(xlink:href="assets/sprite/sprite.svg#skype")
            p.regular-text.
                Hobbyzz.mikhail
        .contacts_box
            .blue-circle
                svg.contact-icon
                    use(xlink:href="assets/sprite/sprite.svg#phone")
            p.regular-text.
                +38(066)004-0-101
        .contacts_box
            .blue-circle
                svg.contact-icon
                    use(xlink:href="assets/sprite/sprite.svg#telegram_logo")
            p.regular-text.
                @RDDuke
        .contacts_box
            .blue-circle
                svg.contact-icon
                    use(xlink:href="assets/sprite/sprite.svg#map_marker")
            p.regular-text.
                Тернополь, ул. Гаевая,29