.my-container__wrapper
    .my-container
        .stars
        .my-photo
            img.my-photo_photo(src='assets/img/photo.png')
        p.my-name.
            Губа Михаил
        p.my-status.
            Личный сайт веб-разработчика