.reviews__wrapper
    .reviews__review-box
        .reviews__quotes
        .reviews__teacher-photo
            img.dima-photo(src="assets/img/dima_pic.png")
        p.light-text.light-text_italic_color-white.
            Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
        p.light-text.light-text_italic_color-white.light-text_margin
            |Ковальчук Дмитрий
            br
            |— основатель Loftschool

    .reviews__review-box
        .reviews__quotes
        .reviews__teacher-photo
            img.vova-photo(src="assets/img/vova_pic.png")
        p.light-text.light-text_italic_color-white.
            Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
        p.light-text.light-text_italic_color-white.light-text_margin
            |Сабанцев Владимир
            br
            |— преподаватель