.my-container__wrapper
    .my-container
        .stars
        .my-photo
            img.my-photo_photo(src='assets/img/photo.png')
        p.my-name.regular-text.text_color_white.
            Губа Михаил
        p.my-status.regular-text.text_color_white.
            Личный сайт веб-разработчика