.right-block.right-block_padding_stile
    .right-block__wrapper
        .right-block__main-pic
            img.preview-pic(src="assets/img/preview_pic.png")
        .right-block__button-box
            .right-block__prev-pic
                img.prev-pic(src="assets/img/trialog_pic.png")
            .right-block__next-pic
                img.next-pic(src="assets/img/trialog_pic.png")