.my-works-figure
    h1.main_h1.text_color_white.h1_position.
        Мои работы
    svg.figure_size(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 100', preserveaspectratio='none')
        polygon(fill='#0d1120' fill-opacity=".55", points='50,50 100,0 100,100 0,100, 0,0')
    .figure_my-works
