.parallax#parallax
    img.parallax__layer(src='assets/img/sky.png')
    img.parallax__layer(src='assets/img/par_stars_3.png')
    img.parallax__layer(src='assets/img/par_stars_2.png')
    img.parallax__layer(src='assets/img/par_stars_1.png')
    img.parallax__layer(src='assets/img/mount.png')
    img.parallax__layer(src='assets/img/par_forest.png')