.parallax#parallax
    .parallax__layer
        img.parallax-pic(src='assets/img/sky-min.png')
    .parallax__layer
        img.parallax-pic(src='assets/img/stars_5.png')
    .parallax__layer
        img.parallax-pic(src='assets/img/stars_4.png')
    .parallax__layer
        img.parallax-pic(src='assets/img/stars_3.png')
    .parallax__layer
        img.parallax-pic(src='assets/img/stars_2.png')
    .parallax__layer
        img.parallax-pic(src='assets/img/stars_1-min.png')
    .parallax__layer
        img.parallax-pic(src='assets/img/mounts-min.png')
    .parallax__layer
        img.parallax-pic(src='assets/img/forest-min.png')