.right-block
    .right-block__h2
        h2.main_h2.text_color_grey.
            Чем я могу быть
        h2.main_h2.text_color_grey.
            вам полезен
    .underline
    .right-block__text
        p.regular-text.text_color_grey.
            Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
    include ../common/_circles.pug

