ul.social-icons__list
    li.social-icons__item
        a.social-icons__link(href='https://vk.com/raulduke_kk' target="_blank")
            svg.social-icons__icon
                use(xlink:href="assets/sprite/sprite.svg#vk")

    li.social-icons__item
        a.social-icons__link(href="https://github.com/gb-mikhail" target="_blank")
            svg.social-icons__icon
                use(xlink:href="assets/sprite/sprite.svg#github" )

    li.social-icons__item
        a.social-icons__link(href="#" target="_blank")
            svg.social-icons__icon
                use(xlink:href="assets/sprite/sprite.svg#in")