.welcome-form
    .my-photo
        img.my-photo_photo(src='assets/img/photo.png')
    p.my-name.
        Губа Михаил
    p.my-status.regular-text.text_color_white.
        Личный сайт веб-разработчика
    .my-social-icons-wrapper
        include _social-icons.pug
    ul.my-navigation__list
        li.my-navigation__item
            a.my-navigation__link.regular-text.text_color_white(href="my-works.html").
                Мои работы

        li.my-navigation__item
            a.my-navigation__link.regular-text.text_color_white(href="about-me.html").
                Обо мне

        li.my-navigation__item
            a.my-navigation__link.regular-text.text_color_white(href="blog.html").
                Блог