.auth-button {
  border: 1px #fff solid;
  padding: 17px 28px;
  background: none;
  min-height: 40px;

  &:hover{
    cursor: pointer;
    border: 1px #0548be solid;
    transition: all 0.5s cubic-bezier(0.25,0.1,0.2,1);
    background-color: #0548be;
  }
  &:active {
    cursor: pointer;
    border: 1px #0548be solid;
    background-color: #0548be;
  }
}