@import '../common/blog-left-navigation.scss';
@import '../common/blog-article-text.scss';

html {
  @include desktop {
    font-size: 16px;
  }

  @include tablet {
    font-size: 14px;
  }

  @include mobile {
    font-size: 12px;
  }
}

.bg_image_height {
  @include desktop-lg {
    height: 70vh;
  }
  @include desktop {
    height: 70vh;
  }
  @include tablet {
    height: 100vh;
  }
  @include mobile {
    height: 100vh;
  }
}

.main-information__wrapper_blog-style {
  background-color: #faf8f0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.my-blog-header {
  color: #fff;
}

.swipe-button {
  @include desktop-lg{
    display: none;
  }
  @include desktop{
    display: none;
  }
  @include tablet{
    display: none;
  }
  @include mobile{
    display: flex;
  }
  position: fixed;
  top: 50%;
  left: -50px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #253468;
  box-shadow: 3px 0 3px rgba(0, 0, 0, 0.2);
  &:hover .swipe-button__left-nav{
    left: 0px;
  }
}

.swipe-button__left-nav {
  @include desktop-lg {
    display: none;
  }
  @include desktop {
    display: none;
  }
  @include tablet {
    display: none;
  }
  @include mobile {
    display: flex;
    width: 420px;
    height: 100vh;
    background-color: #253468;
    box-shadow: 3px 0 3px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -512px;
    left: -512px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
  }
}

.swipe-button__list {
  @include desktop-lg{
    display: none;
  }
  @include desktop{
    display: none;
  }
  @include tablet{
    display: none;
  }
  @include mobile{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }
}

.swipe-button__item {
  @include desktop-lg {
    display: none;
  }
  @include desktop {
    display: none;
  }
  @include tablet {
    display: flex;
  }
  @include mobile {
    display: flex;
  }
  padding: 15px 30px;
  text-decoration: none;
  text-align: right;
  color: #fff;
  opacity: .7;
  font-family: 'Roboto-Regular';
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  &:hover {
    cursor: pointer;
    color: #fff;
    border-right: 3px #7296d2 solid;
    padding-right: 27px;
    opacity: 1;
  }
  &:active {
    cursor: pointer;
    border-right: 3px #083c96 solid;
    color: #083c96;
  }
}