.left-navigation {
  height: auto;
  width: 37%;
  background-color: #faf8f0;
  padding-top: 50px;
  @include tablet {
    display: none;
  }
  @include mobile {
    display: none;
  }
}

.left-navigation__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.left-navigation__item {
  padding: 15px 30px;
  text-decoration: none;
  text-align: right;
  color: #474b57;
  font-family: 'Roboto-Regular';
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  &:hover{
    cursor: pointer;
    color: #7296d2;
    border-right: 3px #7296d2 solid;
    padding-right: 27px;
  }
  &:active {
    cursor: pointer;
    border-right: 3px #083c96 solid;
    color: #083c96;
  }
}