.skills{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 85%;
  @include tablet {
    align-items: center;
    padding-bottom: 30px;
    max-width: 100%;
  }
  @include mobile {
    align-items: center;
    padding-bottom: 30px;
    width: 100%;
    max-width: 100%;
  }
}

.circle__wrapper{
  position: relative;
  @include desktop-lg {
    margin-right:30px;
  }
  @include desktop {
    margin-right:30px;
  }
  @include mobile {
    margin-right: 0;
  }
}

.circles__figure {
  fill: none;
  stroke-width: 20;
}

.circle__first {
  stroke: #dfdcd5;
}

.circle__second {
  stroke: #0548be;
  transition: all 1s;
}

.animate {
  opacity: 0;
}
//----------start-circle-html-------------

.html {
  animation: html 2s;
  animation-fill-mode: forwards;
}

@keyframes html {
  from {
    stroke-dasharray: 28.26 282.6;
    opacity: .0;
  }

  to {
    stroke-dasharray: 254.34 282.6;
    opacity: .90;
  }
}
//----------End-circle-html-------------
//----------start-circle-css-------------
.css {
  animation: css 2s;
  animation-fill-mode: forwards;
}

@keyframes css {
  from {
    stroke-dasharray: 28.26 282.6;
    opacity: .0;
  }

  to {
    stroke-dasharray: 211.95 282.6;
    opacity: .75;
  }
}
//----------End-circle-css-------------
//----------start-circle-js-------------
.js {
  animation: js 2s;
  animation-fill-mode: forwards;
}

@keyframes js {
  from {
    stroke-dasharray: 28.26 282.6;
    opacity: .0;
  }

  to {
    stroke-dasharray: 70.65 282.6;
    opacity: .25;
  }
}
//----------End-circle-js-------------
//----------start-circle-php-------------
.php {
  animation: php 2s;
  animation-fill-mode: forwards;
}

@keyframes php {
  from {
    stroke-dasharray: 28.26 282.6;
    opacity: .0;
  }

  to {
    stroke-dasharray: 70.65 282.6;
    opacity: .25;
  }
}
//----------End-circle-php-------------
//----------start-circle-mysql-------------
.mysql {
  animation: mysql 2s;
  animation-fill-mode: forwards;
}

@keyframes mysql {
  from {
    stroke-dasharray: 28.26 282.6;
    opacity: .0;
  }

  to {
    stroke-dasharray: 169.56 282.6;
    opacity: .6;
  }
}
//----------End-circle-mysql-------------
//----------start-circle-nodejs-------------
.nodejs {
  animation: nodejs 2s;
  animation-fill-mode: forwards;
}

@keyframes nodejs {
  from {
    stroke-dasharray: 28.26 282.6;
    opacity: .0;
  }

  to {
    stroke-dasharray: 113.04 282.6;
    opacity: .4;
  }
}
//----------End-circle-nodejs-------------
//----------start-circle-mongo-------------
.mongo {
  animation: mongo 2s;
  animation-fill-mode: forwards;
}

@keyframes mongo {
  from {
    stroke-dasharray: 28.26 282.6;
    opacity: .0;
  }

  to {
    stroke-dasharray: 28.26 282.6;
    opacity: .1;
  }
}
//----------End-circle-nodejs-------------
//----------start-circle-git-------------
.git {
  animation: git 2s;
  animation-fill-mode: forwards;
}

@keyframes git {
  from {
    stroke-dasharray: 28.26 282.6;
    opacity: .0;
  }

  to {
    stroke-dasharray: 211.95 282.6;
    opacity: .75;
  }
}
//----------End-circle-git-------------
//----------start-circle-gulp-------------
.gulp {
  animation: gulp 2s;
  animation-fill-mode: forwards;
}

@keyframes gulp {
  from {
    stroke-dasharray: 28.26 282.6;
    opacity: .0;
  }

  to {
    stroke-dasharray: 169.56 282.6;
    opacity: .6;
  }
}
//----------End-circle-gulp-------------

.circle {
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  padding:0;
  :last-child {
    margin-right: 0;
  }

  @include mobile {
    width: 100%;
    max-width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
  }
}

.circle__text {
  font-family: 'Roboto-Regular';
  font-size: 12px;
  font-weight: 800;
  color: #0548be;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

