.main-footer {
  width: 100%;
}

.main-footer__grey-line {
  width: 100%;
  background-color: rgba(28,31,42,.85);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 30px 0;
  :last-child {
    border-right: none;
  }
  @include tablet {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:0;
    flex-flow: row wrap;
  }
  @include mobile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:0;
  }
}

.main-footer__list{
  width:100%;
  display: flex;
  justify-content: space-between;
}

.main-footer__link {
  color: #fff;
  font-family: 'Roboto-Regular';
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  padding: 0;
  &:hover{
    color: #004cd1;
  }
}

.main-footer__social-icons {
  width: 41%;
  @include tablet {
    padding: 30px 0 0;
  }
  @include mobile {
    padding: 30px 0 0;
  }
}

.line-height_value_26{
  line-height: 26px;
}

.main-footer__blue-line {
  width: 100%;
  background-color: rgba(8,50,160,.85);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;

}
.main-footer__left-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-right: 1px #494c54 solid;
  padding: 0 30px;
  width: 33.33%;
  @include tablet {
    width: 85%;
    padding: 15px 0;
    border-right: none;
    border-bottom: 1px #494c54 solid;
  }
}

.main-footer__central-block {
  width: 33.33%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  border-right: 1px #494c54 solid;
  padding: 0 30px;
  @include tablet {
    width: 42.5%;
    padding: 15px 0;
    align-items: flex-start;
    border: none;
    justify-content: flex-start;
  }
  @include mobile {
    width: 85%;
    border-bottom: 1px #494c54 solid;
    align-items: center;
  }
}

.main-footer__right-block {
  width: 33.33%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 30px;
  @include tablet {
    width: 42.5%;
    border-right: none;
    border-bottom: none;
    align-items: flex-end;
    padding: 15px 0;
  }
  @include mobile {
    width: 85%;
    border-bottom: 1px #494c54 solid;
    align-items: center;
  }
}