.right-block_padding_stile {
  padding: 0;
}

.right-block__wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.right-block__main-pic {
  width: 100%;
  height: 525px;
  background-color: #e3e2de;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-block__button-box {
  width: 100%;
  height: 225px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.right-block__prev-pic {
  width: 50%;
  height: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3e2de;
  position: relative;
}

.right-block__next-pic {
  width: 50%;
  height: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3e2de;
}