.parallax-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  background-color: #122077;
  position: relative;
}

.parallax {
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  overflow: hidden;
  min-width: 100%;
}

.parallax__layer {
  height: 100%;
  min-width: 100%;
  position: absolute;
}

.parallax-pic{
    height: 100%;
    position: absolute;
    left: 50%;
    width: 106vw;
    margin-left: -53vw;
  @include tablet {
    width: auto;
  }
}
