@import '../common/circles.scss';

.right-block {
  width: 50%;
  background-color: #f4f5f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 0 60px 0;
  overflow: hidden;
  @include tablet {
    width: 100%;
    padding: 60px 0 0;
  }
  @include mobile {
    width: 100%;
    padding: 60px 0 0;
  }
}

.right-block__h2{
  max-width: 85%;
  text-align: center;
}
.right-block__text {
  max-width: 85%;
  padding-bottom: 30px;
}

.right-triangle {
  @include tablet {
    fill: #f2f0e8;
  }
}