include ../_template.pug

.wrapper
    .bg_image.bg_image_height
        .header
            .header__social-icons
                include ../common/_social-icons.pug
            .header__burger-icon
                a.burger-icon__link(href="#")
                    svg.burger-icon__icon
                        use(xlink:href="assets/sprite/sprite.svg#hamburger")

        include ../common/_my-container.pug

        .header__down-button
            a(href="#")
                svg.arrow_down
                    use(xlink:href="assets/sprite/sprite.svg#arrow_down")

        include ../common/_triangle.pug

    .main-information__wrapper
        include ../common/_left-block.pug
        include ../common/_right-block.pug

    .map-box
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10355.569885826304!2d25.589704372631818!3d49.54318151743068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x31ade08eac24a7c7!2z0JDQu9GW0LPQsNGC0L7RgA!5e0!3m2!1sru!2sua!4v1487449036901', width='3000', height='975', frameborder='0', style='border:0', allowfullscreen='')
        include ../common/_map-box.pug

    .footer
        include ../common/_main-footer.pug