include ../_template.pug

.wrapper.about-me

    header.am
        .am-header-main
            .am-header-main__icons
                .icons__social-icons
                    a(href="https://vk.com/raulduke_kk" target="_blank")
                        svg.vk
                            use(xlink:href="assets/sprite/sprite.svg#vk")

                    a(href="https://github.com/gb-mikhail" target="_blank")
                        svg.github
                            use(xlink:href="assets/sprite/sprite.svg#github")

                    a(href="#")
                        svg.in
                            use(xlink:href="assets/sprite/sprite.svg#in")

                .icons__burger-icon
                    a(href="#")
                        svg.burger-icon
                            use(xlink:href="assets/sprite/sprite.svg#hamburger")


            .content__central-pic
                .content__stars_bg
                img.central-pic__photo(src="assets/img/photo.png")
                .central-pic__text
                    h2.central-pic__h2.
                        Губа Михаил
                    p.central-pic__text.
                        Личный сайт веб-разработчика



        .am-header-main__down-button
                a(href="#")
                    svg.arrow_down
                        use(xlink:href="assets/sprite/sprite.svg#arrow_down")


    .header__triangle
        svg.header_left-triangle(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 100', preserveaspectratio='none')
            polygon(fill='#f2f0e8', points='0,0 0,100 100,100')

        svg.header_right-triangle(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 100', preserveaspectratio='none')
            polygon(fill='#f4f5f0', points='0,100 100,0 100,100')

content

    .am-content__blocks
        .blocks__left-block
                h1.blocks__h1.
                    Обо мне
                img.blocks__img(src='assets/img/photo_2.png')
                h2.left-block__h2.
                    Кто я
                .underline
                p.left-block__text.
                    Я веб разработчик из Украины. Мне 28 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                    Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.

        .blocks__right-block
            h2.right-block__h2.
                Чем я могу быть вам полезен
            .underline
            p.right-block__text.
                Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
            .circles__block
                h2.circles__block_h2.
                    Frontend
                .frontend__circles
                    .circle__wrapper
                        svg.circles(width='110', height='110')
                            circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                            circle.circle__second.circle-85(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                        p.circle__text.html.
                            HTML
                    .circle__wrapper
                        svg.circles(width='110', height='110')
                            circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                            circle.circle__second.circle-85(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                        p.circle__text.css3.
                            CSS3
                    .circle__wrapper
                        svg.circles(width='110', height='110')
                            circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                            circle.circle__second.circle-25(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                        p.circle__text.JS.
                            JavaScript & jQuery

            .circles__block
                h2.circles__block_h2.
                    Backend
                .backend__circles
                    .circle__wrapper
                        svg.circles(width='110', height='110')
                            circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                            circle.circle__second.circle-10(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                        p.circle__text.php.
                            PHP
                    .circle__wrapper
                        svg.circles(width='110', height='110')
                            circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                            circle.circle__second.circle-10(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                        p.circle__text.mysql.
                            MySQL
                    .circle__wrapper
                        svg.circles(width='110', height='110')
                            circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                            circle.circle__second.circle-25(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                        p.circle__text.node.
                            Node.JS & npm
                    .circle__wrapper
                        svg.circles(width='110', height='110')
                            circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                            circle.circle__second.circle-10(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                        p.circle__text.mongo.
                            Mongo.db

            .circles__block
                h2.circles__block_h2.
                    Workflow
                .workflow__circles
                    .circle__wrapper
                        svg.circles(width='110', height='110')
                            circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                            circle.circle__second.circle-60(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                        p.circle__text.git.
                            Git
                    .circle__wrapper
                        svg.circles(width='110', height='110')
                            circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                            circle.circle__second.circle-75(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                        p.circle__text.gulp.
                            Gulp

    .am-content__map
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10355.569885826304!2d25.589704372631818!3d49.54318151743068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x31ade08eac24a7c7!2z0JDQu9GW0LPQsNGC0L7RgA!5e0!3m2!1sru!2sua!4v1487449036901', width='3000', height='975', frameborder='0', style='border:0', allowfullscreen='')
        .am_content__contacts-box
            .right-block__h2.
                Контакты
            .underline
            .wrapper__contacts
                .contacts_box
                    .blue-circle
                        svg.contact-icon
                            use(xlink:href="assets/sprite/sprite.svg#skype")
                    p.contacts-name.
                        Hobbyzz.mikhail
                .contacts_box
                    .blue-circle
                        svg.contact-icon
                            use(xlink:href="assets/sprite/sprite.svg#phone")
                    p.contacts-name.
                        +38(066)004-0-101
                .contacts_box
                    .blue-circle
                        svg.contact-icon
                            use(xlink:href="assets/sprite/sprite.svg#telegram_logo")
                    p.contacts-name.
                        @RDDuke
                .contacts_box
                    .blue-circle
                        svg.contact-icon
                            use(xlink:href="assets/sprite/sprite.svg#map_marker")
                    p.contacts-name.
                        Тернополь, ул. Гаевая,29


        .am-footer_grey
            .am-footer_grey_block
                p.footer_text.
                    Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool
            .am-footer_grey_block
                .block__list_wrapper
                    a.block-link(href="portfolio.html").
                        Мои работы
                    a.block-link(href="another-page.html").
                        Обо мне
                    a.block-link(href="blog.html").
                        Блог
                    a.block-link(href="index.html").
                        Авторизация
                .block__icons_wrapper
                    .icons__social-icons
                        a(href="https://vk.com/raulduke_kk" target="_blank")
                            svg.vk
                                use(xlink:href="assets/sprite/sprite.svg#vk")

                        a(href="https://github.com/gb-mikhail" target="_blank")
                            svg.github
                                use(xlink:href="assets/sprite/sprite.svg#github")

                        a(href="#")
                            svg.in
                                use(xlink:href="assets/sprite/sprite.svg#in")


            .am-footer_grey_block
                p.footer_text.
                    hobbyzz.mikhail
                p.footer_text.
                    gb.mikhail@gmail.com
                p.footer_text.
                    +38(066)004-0-101
                p.footer_text.
                    Тернополь, ул. Гаевая, 29

        .am-footer_blue
            p.footer_text.
                © Губа Михаил | Создано с любовью в LoftSchool | 2016
