include ../_template.pug

.wrapper
    .bg_image.bg_image_height
        .header
            include ../common/_social-icons.pug
            button.header__burger-menu(type='button')
                span.header__burger-menu_icon
            nav.header__nav-menu
                ul.header__nav-list
                    li.header__nav-item
                        a(href="my-works.html").header__nav-link.main_h1.text_color_white.
                            Мои работы
                    li.header__nav-item.main_h1.text_color_white
                        a(href="blog.html").header__nav-link.main_h1.text_color_white.
                            Блог
                    li.header__nav-item.main_h1.text_color_white
                        a(href="about-me.html").header__nav-link.main_h1.text_color_white.
                            Обо мне
                    li.header__nav-item.main_h1.text_color_white
                        a(href="index.html").header__nav-link.main_h1.text_color_white.
                            Авторизация

        include ../common/_blog-container.pug

        .header__down-button
            a.header__down-button_link(href="#")
                svg.arrow_down
                    use(xlink:href="assets/sprite/sprite.svg#arrow_down")

        include ../common/_blog-triangle.pug
    .main-information__wrapper.main-information__wrapper_blog-style
        include ../common/_blog-left-navigation.pug
        include ../common/_blog-article-text.pug

    .footer
        include ../common/_main-footer.pug