include ../_template.pug

header.header-main
    .header-main__social-icons
        .header-main__social-icons_vk
            a(href="#")
                svg.vk
        .header-main__social-icons_git
            a(href="#")
                svg.git
        .header-main__social-icons_in
            a(href="#")
                svg.in

    .header-main__right-line
    .header-main__left-line

content.main-content
    .main-content__left-block
    .main-content__right-block



footer.footer



