include ../_template.pug

.wrapper
    .bg_image
        .header__auth-button
            include ../common/_auth-button.pug

        .main-form__wrapper
            include ../common/_welcome-form.pug

        .footer
            p.light-text.text_color_white.
                © Губа Михаил | создавалось бессонными ночами во время обучения в LoftSchool | 2017





