include ../_template.pug

.parallax-wrapper
    include ../common/_parallax.pug
    .welcome-wrapper
        .header__auth-button
            include ../common/_auth-button.pug

        .flip-container__wrapper
            .flip-container(ontouchstart="this.classList.toggle('hover');")
                .main-form__wrapper
                    include ../common/_welcome-form.pug
                    include ../common/_login-form.pug
        .footer
            p.footer__text.light-text.text_color_white.
                © Губа Михаил | создавалось бессонными ночами во время обучения в LoftSchool | 2017

