include ../_template.pug

.wrapper
    video.video(autoplay, loop='')
        source(src='assets/img/video.mp4', type='video/mp4')
    .bg_image
        .header__auth-button
            include ../common/_auth-button.pug
        .main-form__wrapper
            include ../common/_welcome-form.pug
        .footer
            p.footer__text.light-text.text_color_white.
                © Губа Михаил | создавалось бессонными ночами во время обучения в LoftSchool | 2017