include ../_template.pug

.wrapper
    .bg_image.bg_justify-content
        .header
            .header__social-icons
                include ../common/_social-icons.pug
            .header__burger-icon
                a.burger-icon__link(href="#")
                    svg.burger-icon__icon
                        use(xlink:href="assets/sprite/sprite.svg#hamburger")
        include ../common/_my-container.pug

        .header__down-button
            a(href="#")
                svg.arrow_down
                    use(xlink:href="assets/sprite/sprite.svg#arrow_down")

        include ../common/_my-works-figure.pug
    include ../common/_main-information__slider.pug
    .review-block__wrapper
        .main_h1.text_color_white
            |Что обо мне
            br
            |говорят
            .review-block__stars3
        include ../common/_my-works-teachers-review.pug
        include ../common/_my-works-contact-form.pug

        .footer
            include ../common/_main-footer.pug
