include ../_template.pug

.wrapper
    header.portfolio
        .ptf-header-main
            .ptf-header-main__icons
                .icons__social-icons
                    a(href="https://vk.com/raulduke_kk" target="_blank")
                        svg.vk
                            use(xlink:href="assets/sprite/sprite.svg#vk")

                    a(href="https://github.com/gb-mikhail" target="_blank")
                        svg.github
                            use(xlink:href="assets/sprite/sprite.svg#github")

                    a(href="#")
                        svg.in
                            use(xlink:href="assets/sprite/sprite.svg#in")

                .icons__burger-icon
                    a(href="#")
                        svg.burger-icon
                            use(xlink:href="assets/sprite/sprite.svg#hamburger")


            .content__central-pic
                .content__stars_bg
                img.central-pic__photo(src="assets/img/photo.png")
                .central-pic__text
                    h2.central-pic__h2.
                        Губа Михаил
                    p.central-pic__text.
                        Личный сайт веб-разработчика

        .ptf-header-main__down-button
            a(href="#")
                svg.arrow_down
                    use(xlink:href="assets/sprite/sprite.svg#arrow_down")


    .header__figure
        svg.figure_size(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 100', preserveaspectratio='none')
            polygon(fill='#0d1120' fill-opacity=".85", points='50,50 100,0 100,100 0,100, 0,0')
        .figure_my-works
            h1.my-works_h1.
                Мои работы
            .my-works_pic

content
    .ptf-content__blocks
        .ptf-blocks__left-block
            h1.ptf-blocks__h2.
                Сайт школы онлайн
                образования
            .underline
            p.ptf-block__text.
                HTML, CSS3, JAVASCRIPT
            a.loft-school__button(href="https://loftschool.com/" target="_blank")
                svg.link-icon
                    use(xlink:href="assets/sprite/sprite.svg#link")
                p.
                    Посмотреть сайт



        .ptf-blocks__right-block
            .right-block__main-pic
                img.preview-pic(src="assets/img/preview_pic.png")
            .right-block__button-box
                .right-block__prev-pic
                    img.prev-pic(src="assets/img/trialog_pic.png")
                .right-block__next-pic
                    img.next-pic(src="assets/img/trialog_pic.png")
    .ptf-content__review
        .content__stars3_bg
        .my-reviews_h1.
            Что обо мне говорят
        .content__teachers-reviews
            .first-review
                .teacher-photo
                    img.dima-photo(src="assets/img/dima_pic.png")
                .teacher-text
                    p.
                        Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                    p.teacher-name.
                        Ковальчук Дмитрий
                    p.teacher-status.
                        — основатель Loftschool

            .second-review
                .teacher-photo
                    img.vova-photo(src="assets/img/vova_pic.png")
                .teacher-text
                    p.
                        Этот код выдержеит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                    p.teacher-name.
                        Сабанцев Владимир
                    p.teacher-status.
                        — преподаватель
        .content__reg-form
            h2.reg-form_h2.
                Связаться со мной
            .underline.form-line
            form.reg-form(action='', method='post', name='contact_form')
                ul.reg-form_list
                    li
                        label(for='name')
                        input.reg-form_item(type='text', name='Name', placeholder='Ваше Имя')
                    li
                        label(for='email')
                        input.reg-form_item(type='text', name='email', placeholder='Ваш E-mail')
                    li
                        label(for='massage')
                        textarea.reg-form_item_message(type='text' cols="40" rows="6" name='message', placeholder='Ваше сообщение')

                    .button-wrapper
                        button.reg-form_button-send(type='button', name='button').
                            Отправить

                        button.reg-form_button-clear(type='button', name='button').
                            Очистить


        .ptf-header-main__up-button
            a(href="#")
                svg.arrow_down
                    use(xlink:href="assets/sprite/sprite.svg#portf_arrow_up")

        .blg-footer_grey
            .blg-footer_grey_block
                p.footer_text.
                    Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool
            .blg-footer_grey_block
                .block__list_wrapper
                    a.block-link(href="portfolio.html").
                        Мои работы
                    a.block-link(href="another-page.html").
                        Обо мне
                    a.block-link(href="blog.html").
                        Блог
                    a.block-link(href="index.html").
                        Авторизация
                .block__icons_wrapper
                    .icons__social-icons
                        a(href="https://vk.com/raulduke_kk" target="_blank")
                            svg.vk
                                use(xlink:href="assets/sprite/sprite.svg#vk")

                        a(href="https://github.com/gb-mikhail" target="_blank")
                            svg.github
                                use(xlink:href="assets/sprite/sprite.svg#github")

                        a(href="#")
                            svg.in
                                use(xlink:href="assets/sprite/sprite.svg#in")


            .blg-footer_grey_block
                p.footer_text.
                    hobbyzz.mikhail
                p.footer_text.
                    gb.mikhail@gmail.com
                p.footer_text.
                    +38(066)004-0-101
                p.footer_text.
                    Тернополь, ул. Гаевая, 29

        .blg-footer_blue
            p.footer_text.
                © Губа Михаил | Создано с любовью в LoftSchool | 2016









